---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <h3 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <div><font size="3px" color="#999">  {{ post.excerpt | strip_html }} </font></div>

  </div>
  {% endfor %}
</div>


<!-- # 前一页后一页 -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.url }}/page{{paginator.next_page}}">前一页</a>
  {% else %}
    <span class="pagination-item older">前一页</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.url }}/">后一页</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.url }}/page{{paginator.previous_page}}">后一页</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">后一页</span>
  {% endif %}
</div>
