<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>countingGoal</key>
		<real>481403660.80549002</real>
		<key>sheetClusters</key>
		<dict>
			<key>1863-11-19-gettysburg-address.md</key>
			<dict>
				<key>lastModification</key>
				<real>481403559.00064498</real>
				<key>version</key>
				<dict>
					<key>5040c81a7a81288745eb23582877d65b43cd96a9be04e49b3e7b94641c82fe71</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2016-04-04-introduction.md</key>
			<dict>
				<key>lastModification</key>
				<real>481438142.778669</real>
				<key>version</key>
				<dict>
					<key>5040c81a7a81288745eb23582877d65b43cd96a9be04e49b3e7b94641c82fe71</key>
					<integer>13</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-04-04-introduction.md</string>
		</array>
		<array>
			<string>1863-11-19-gettysburg-address.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>countingGoal</key>
		<dict>
			<key>5040c81a7a81288745eb23582877d65b43cd96a9be04e49b3e7b94641c82fe71</key>
			<integer>4</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>5040c81a7a81288745eb23582877d65b43cd96a9be04e49b3e7b94641c82fe71</key>
			<integer>13</integer>
		</dict>
	</dict>
</dict>
</plist>
